.divPadre{
      height: 100vh;
      position: relative;
}

.divHijo{
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
}

.spinnerReactstrap{
      width: 100px !important;
      height: 100px !important;

      border: 10px solid currentColor !important;
      border-right-color: transparent !important;
}

.center {
      text-align: center;
}

.pagination {
      display: inline-block;
}
    
.pagination a {
      color: black;
      float: left;
      padding: 8px 16px;
      text-decoration: none;
      transition: background-color .3s;
      border: 1px solid #ddd;
      margin: 0 4px;
}
    
.pagination a.active {
      background-color: #4CAF50;
      color: white;
      border: 1px solid #4CAF50;
}
    
.pagination a:hover:not(.active) {background-color: #ddd;}